%special-font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

%secondary-side-header-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mat-side-container {
    margin-left: 73px;
    height: 100%;
    width: 100%;
    position: absolute;
    line-height: 1.5;
}

.secondary-side {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 346px;
    transition: width 0.1s linear, border 0s linear 0.1s;
    border-right: 1px solid #e4e4e4;

    >mat-card {
        padding: 0;
    }
}

.secondary-side-header {
    border-bottom: 1px solid #e4e4e4;
}

.secondary-side-header-title {
    padding-top: 15px;
    padding-bottom: 30px;
}

.secondary-side-header-text {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 18px;
    padding-left: 25px;
}

.secondary-side-header-title h1 {
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 20px;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin: .67em 0;
    cursor: default;
    
    @extend %special-font;
}

.secondary-side-header-bottom {
    padding-bottom: 10px;
}

.secondary-side-header-note-count {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 13px;
    color: #999;
    min-width: 50px;
    font-weight: 300;
    cursor: default;

    @extend %special-font;
}

.secondary-side-header-sort {
    @extend %secondary-side-header-icon;
}

.secondary-side-header-tag {
    @extend %secondary-side-header-icon;
    margin-left: 5px;
}

.multiple-notes {
    overflow-y: auto;
    margin-top: 3px;
    cursor: pointer;

    mat-card {
        border-radius: 0;
        height: 72px;

        &:hover {
            background-color: #fafafa;
        }
    }

    mat-card-title {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .note-summary {
        color: rgb(122, 128, 131);
        font-size: 13px;
        font-weight: 300;
        height: 40;
        line-height: 19.5px;
        margin-bottom: 5px;
    }

    .note-update {
        color: rgb(153, 153, 153);
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }

    .note-focus {
        background-color: #f0f1f1;
    }
}

.note-content {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: white;
}

.note-content-default-header {
    display: flex;
    height: 54px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #ededed;
    margin: 0 20px;

    .header-left {
        display: flex;
        flex: 1;
        align-items: center;
        min-width: 220px;
        white-space: nowrap;
    }

    .header-left-btn {
        display: inline-block;
        flex-shrink: 0;
        cursor: pointer;
        outline: none;
        padding: 0;
        line-height: normal;
    }

    .header-left-svg {
        display: inline-block;
        background-position: center;
        background-size: 20px 20px;
        vertical-align: middle;
    
        &:hover, &:focus {
            opacity: 0.7;
        }
    }

    .header-left-svg-split {
        flex-shrink: 0;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        margin-right: 5px;
    }

    .header-note-book {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .header-note-book-svg {
        margin-right: 5px;
        display: inline-block;
        background-position: center;
        background-size: 14px 14px;
        vertical-align: middle;
    }

    .header-note-book-text {
        max-width: 195px;
        cursor: pointer;
        font-size: 12px;
        color: #7a8083;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: center;
        white-space: nowrap;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

svg {
    line-height: normal;
}
