// The margin between two sections
$margin-promotion-sections: 60px;
$margin-promotion-sections-small: 15px;

.portal-header-background {
    overflow: hidden;
}

.portal-header-section {
    text-align: center;
    padding-top: 60px;
}

.portal-header-headerline {
    h1 {
        font-size: 56px;
        font-weight: 300;
        line-height: 56px;
        margin: 15px 5px;
    }
    h2 {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 25px 0;
    }
}

.portal-homepage-promo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;

    h2 {
        font-size: 25px;
        font-weight: 400;
        margin: 0 0 16px 0;
        padding: 0;
    }
    
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin: 0 0 24px 0;
        padding: 0;
    }
}

.portal-homepage-row {
    display: flex;
    max-width: 920px;
    margin: $margin-promotion-sections 0;
}

.portal-homepage-row .portal-svg-image{
    max-width: 90%;
}

.docs-homepage-reverse-row {
    flex-direction: row-reverse;
}

.portal-header-start, .portal-homepage-bottom-start {
    text-align: center;
    margin: $margin-promotion-sections 0;
}

.portal-homepage-promo-img, .portal-homepage-promo-desc {
    width: 50%;
}

.portal-homepage-promo-img {
    text-align: center;
}

.portal-homepage-promo-desc {
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 720px) {
    .portal-header-section {
        padding-top: $margin-promotion-sections-small;
    }

    .portal-header-start,
    .portal-homepage-bottom-start {
      margin: $margin-promotion-sections-small 0;
    }
  
    .portal-homepage-row {
      margin: $margin-promotion-sections-small 0;
    }
}