.portal-navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;

    > .mat-button {
        &:last-child {
            margin-left: auto;
        }
    }
}

.flex-spacer {
    flex-grow: 1;
}

.portal-ozma-logo {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

.portal-github-logo {
    height: 21px;
    margin: 0 7px 2px 0;
    vertical-align: middle;
}

.portal-navbar-link {
    text-decoration: inherit;
    flex: 1;
}

.portal-navbar, .portal-navbar-show-small {
    display: none;
}

@media(max-width: 720px) {
    .portal-navbar-hide-small {
        display: none;
    }

    .portal-navbar-show-small {
        display: block;
    }

    .portal-navbar {
        display: flex;
    }

    .portal-navbar--github-logo {
        margin: 0;
    }
}