.mat-elevation {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
        0 6px 10px 0 rgba(0, 0, 0, .14),
        0 1px 18px 0 rgba(0, 0, 0, .12);
}

.part-navbar, .navbar-show-small {
    display: none;
}

@media(max-width: 720px) {
    .part-navbar {
        display: flex;
    }

    .navbar-show-small {
        display: block;
    }

    .navbar-hide-small {
        display: none;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    background: #3f51b5;
}

.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.navbar-link {
    text-decoration: inherit;
    flex: 1;
}

.ozma-logo {
    height: 26px;
    margin: 0 4px 3px 0;
}

.flex-spacer {
    flex-grow: 1;
}