<div class="navbar mat-elevation">

  <mat-toolbar color="primary" class="navbar-header">
    <a aria-label="Ozma" class="ozma-button mat-button" mat-button routerlink="/" tabindex="0" aria-disabled="false">
      <span class="mat-button-wrapper">
        <img alt="ozma" class="ozma-logo" src="../../../../favicon.ico">
        <span>Ozma</span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple></div>
      <div class="mat-button-focus-overlay"></div>
    </a>

    <!-- <button mat-icon-button>
      <mat-icon class="logo">home</mat-icon>
    </button>
    <span>Ozma</span>
    <span class="logo-left"></span>
    <button mat-button>笔记站</button>
    <button mat-button>房屋</button>
    <button mat-button>饮食</button>

    <span class="fill-remaining"></span> -->

  </mat-toolbar>

</div>