.container {
    margin-left: 73px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    background: red;
    overflow-x: hidden;
}

.remind {
    flex: 1;
    background: blue;
}