$side-nav-width: 73px;
$side-module-size: 42px;

%special-font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

%secondary-side-header-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.side-nav {
    height: 100%;
    position: absolute;
}

.side-nav-structure {
    border-right: 1px solid #ececec;
    background-color: #f8f8f8;
    padding: 12px 12px 24px 17px;
    z-index: 200;
    box-sizing: border-box;
    vertical-align: baseline;
    height: 100%;

    left: 0;
    width: $side-nav-width;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out 0.3s;
}

.side-module-width {
    width: $side-module-size;
    transition: all 0.2s ease-in-out;
}

.side-multiple-module-distance {
    margin-bottom: 48px;
}

.side-module-height {
    height: 48px;
}

.side-module {
    display: inline-block;
    width: $side-module-size;
    height: $side-module-size;
    position: relative;
    outline: none;

    &:hover {
        .front-img {
            opacity: 0;
        }
        
        .behind-img {
            opacity: 1;
        }
        
        .tip-middle-transition.tip-visibility {
            transition: opacity 0.13s  ease-in 0.2s;
        }

        .tip-visibility {
            opacity: 1;
            z-index: 1000;
            visibility: visible;
        }
    }
}

.side-module-position {
    position: relative;
}

.side-module-attr {
    outline: none;
    cursor: pointer;
    padding: 6px 0;
    height: 36px;
}

.front-img {
    position: absolute;
    left: 0;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
}

.behind-img {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 0.25s ease-in-out;
}

.tip {
    display: block;
    position: absolute;
    top: 15px;
    left: 42px;
    height: 15px;
    opacity: 0;
    visibility: hidden;
}

.tip-triangle-img {
    width: 4px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: -4px;
}

.tip-font {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.tip-background {
    white-space: nowrap;
    padding: 4px 7px;
    background: #606060;
    color: #d9d9d9;
    border-radius: 2px;
    overflow: hidden;
    max-width: 444px;
    text-overflow: ellipsis;
    display: inline-block;
}

.mat-side-container {
    margin-left: 73px;
    height: 100%;
    position: absolute;
    line-height: 1.5;
}

.secondary-side {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 346px;
    overflow: hidden;
    transition: width 0.1s linear, border 0s linear 0.1s;
    border-right: 1px solid #e4e4e4;

    >mat-card {
        padding: 0;
    }
}

.secondary-side-header {
    border-bottom: 1px solid #e4e4e4;
}

.secondary-side-header-title {
    padding-top: 15px;
    padding-bottom: 30px;
}

.secondary-side-header-text {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 18px;
    padding-left: 25px;
}

.secondary-side-header-title h1 {
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 20px;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin: .67em 0;
    cursor: default;
    
    @extend %special-font;
}

.secondary-side-header-bottom {
    padding-bottom: 10px;
}

.secondary-side-header-note-count {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 13px;
    color: #999;
    min-width: 50px;
    font-weight: 300;
    cursor: default;

    @extend %special-font;
}

.secondary-side-header-sort {
    @extend %secondary-side-header-icon;
}

.secondary-side-header-tag {
    @extend %secondary-side-header-icon;
    margin-left: 5px;
}

.multiple-notes {
    overflow-y: auto;
    margin-top: 4px;
    cursor: pointer;

    mat-card {
        border-radius: 0;
        height: 72px;
    }

    mat-card-title {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .note-summary {
        color: rgb(122, 128, 131);
        font-size: 13px;
        font-weight: 300;
        height: 40;
        line-height: 19.5px;
        margin-bottom: 5px;
    }

    .note-update {
        color: rgb(153, 153, 153);
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }
}