$side-nav-width: 73px;
$side-module-size: 42px;

.side-nav {
    height: 100%;
    position: absolute;
}

.side-nav-structure {
    border-right: 1px solid #ececec;
    background-color: #f8f8f8;
    padding: 12px 12px 24px 17px;
    z-index: 200;
    box-sizing: border-box;
    vertical-align: baseline;
    height: 100%;

    left: 0;
    width: $side-nav-width;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out 0.3s;
}

.side-module-width {
    width: $side-module-size;
    transition: all 0.2s ease-in-out;
}

.side-multiple-module-distance {
    margin-bottom: 48px;
}

.side-module-height {
    height: 48px;
}

.side-module {
    display: inline-block;
    width: $side-module-size;
    height: $side-module-size;
    position: relative;
    outline: none;

    &:hover {
        .front-img {
            opacity: 0;
        }
        
        .behind-img {
            opacity: 1;
        }
        
        .tip-middle-transition.tip-visibility {
            transition: opacity 0.13s  ease-in 0.2s;
        }

        .tip-visibility {
            opacity: 1;
            z-index: 1000;
            visibility: visible;
        }
    }
}

.side-module-position {
    position: relative;
}

.side-module-attr {
    outline: none;
    cursor: pointer;
    padding: 6px 0;
    height: 36px;
}

.front-img {
    position: absolute;
    left: 0;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
}

.behind-img {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 0.25s ease-in-out;
}

.tip {
    display: block;
    position: absolute;
    top: 15px;
    left: 42px;
    height: 15px;
    opacity: 0;
    visibility: hidden;
}

.tip-triangle-img {
    width: 4px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: -4px;
}

.tip-font {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.tip-background {
    white-space: nowrap;
    padding: 4px 7px;
    background: #606060;
    color: #d9d9d9;
    border-radius: 2px;
    overflow: hidden;
    max-width: 444px;
    text-overflow: ellipsis;
    display: inline-block;
}
