.drawer {
    left: 0;
    width: 73px;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out 0.3s;

    border-right: 1px solid #ececec;
    background-color: #f8f8f8;
    padding: 12px 12px 24px 17px;
    z-index: 200;
    box-sizing: border-box;
    vertical-align: baseline;
    height: 100%;

    overflow: hidden;
    border-top: none;
    text-align: center;
}

.top-rec {
    margin-bottom: 48px;
}

.bottom-rec {
    margin-bottom: 48px;
}

.rectangle {
    height: 100%;
    width: 42px;
    transition: all 0.2s ease-in-out;
}

.container {
    // display: block;
    width: 22%;
    height: 100%;
    position: absolute;
}


.GJDCG5CF4B {
    height: 48px;
}

.GJDCG5CD5B {
    display: inline-block;
    width: 42px;
    height: 42px;
    position: relative;
    outline: none;

    &:hover {
        .GJDCG5CBR {
            opacity: 0;
        }
        
        .GJDCG5CDR {
            opacity: 1;
        }
        
        .GJDCG5CHR.GJDCG5CLR {
            transition: opacity 0.13s  ease-in 0.2s;
        }

        .GJDCG5CLR {
            opacity: 1;
            z-index: 1000;
            visibility: visible;
        }
    }
}

.GJDCG5CGR {
    position: relative;
}

.GJDCG5CER {
    outline: none;
    cursor: pointer;
    padding: 6px 0;
    height: 36px;
}

.GJDCG5CBR {
    position: absolute;
    left: 0;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
}

.GJDCG5CDR {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 0.25s ease-in-out;
}

.GJDCG5CKR {
    display: block;
    position: absolute;
    top: 15px;
    left: 42px;
    height: 15px;
    opacity: 0;
    visibility: hidden;
}

.GJDCG5CJR {
    width: 4px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: -4px;
}

.GJDCG5CPD {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.GJDCG5CIR {
    white-space: nowrap;
    padding: 4px 7px;
    background: #606060;
    color: #d9d9d9;
    border-radius: 2px;
    overflow: hidden;
    max-width: 444px;
    text-overflow: ellipsis;
    display: inline-block;
}