/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300');

@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include ozma-portal-app-theme($theme);

.app-background {
    background: #fafafa;
}
